.cache/
.calva/output-window/
.classpath
.DS_Store
.cpcache
.eastwood
.factorypath
.hg/
.hgignore
.java-version
.lein-*
.nrepl-history
.nrepl-port
.project
.rebel_readline_history
.rebl/
.settings
.socket-repl-port
.sw*
.vscode
*.class
*.jar
*.swp
*~
/checkouts
/classes
/target
