{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.68.1059"}
                      org.clojure/test.check {:mvn/version "1.1.1"}
                      com.gfredericks/test.chuck {:mvn/version "0.2.13"}}
         :jvm-opts ^:replace ["-XX:-OmitStackTraceInFastThrow"]
         :main-opts ["-m" "kaocha.runner"]}
  :cljfmt {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.2"}}
           :main-opts ["-m" "cljfmt.main"]}
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.8.3" :git/sha "7ac1f8d"}}
          :ns-default build}}}
